# Environment variables
NODE_ENV=development

# Server-side (Optional example)
DATABASE_URL=postgresql://user:password@localhost:5432/db

# Client-side
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_APP_NAME="My Professional Dashboard"
